<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Facebook</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="icon" type="#" href="../pic/facebookIcon.png">
    <link rel="stylesheet" href="../style/style.css">
    <!-- <script src="script1.js"></script> -->
</head>
<body>
    <div id="forgot-block">
        <div class="forgot-block">
            <header>
                <p class="forgot-intro">
                    Find your account
                </p>
            </header>
            <hr class="forgot-hzrLine">
            <p class="forgot-inputinfo">
                Please enter your email or mobile number to search for your account.
            </p>
            
            <input type="email" id="forgot-e" class="forgot-email_input" placeholder="Email or mobile number">
            <hr class="forgot-hzrLine">
            <input type="button" value="Search" class="forgot-button_search">
        
            <input type="button" value="Cancel" id="forgot-button_cancel" class="forgot-button_cancel">
        
        </div>
        </div>
<script src="../script/script.js"></script>
</body>
</html>