<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Facebook</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="icon" type="#" href="../pic/facebookIcon.png">
    <link rel="stylesheet" href="../style/style.css">
    <!-- <script src="script1.js"></script> -->
</head>
<body>
    <div id="indexBody">
    <div class="index_page">

<div class="intro">
    <a href="/">
        facebook
    </a>
    <p>
        Connect with frends and the world around you on facebook.
    </p>
</div>
<form action="/" method="post">
<div class="block">
    <div class="input">
        <input type="email" name="email" id="email-input" class="email-input" placeholder="Email or phone number" >
        <input type="password" name="password" id="password-input" class="password-input" placeholder="password">
        <input type="submit"  id="login" class="login" value="Log In" >
       
    </div>
</form>
    <!-- <a href="forgot_password.html" class="forgot-password"> -->
    <div class="forgotPassword">
    <button id="forgot-password" herf>
   
        <p>Forgot password? </p>
    </button></div>
   
    <hr class="new-acc_hrzline">
    <div class="account-create" >
        <a href="/signup">Create new account</a>
    </div>
</div>

<div class="lastinfo">
    <a class="bold" href="/createApage"> Create a page</a>
    <a class="normal">for a celebrity, brand or business.</a>
</div>
</div>

</div>

    
<script src="../script/script.js"></script>
</body>
</html>