<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout - Facebook</title>
    <link rel="icon" type="#" href="../pic/facebookIcon.png">

    <link rel="stylesheet" href="../style/logout.css">
</head>
<body>
    <div class="logout-container">
        <h1>Logout</h1>
        <!-- <p></p> -->
        <form action="/logout" method="post">
            <input type="submit" value="logout" class="login-link">
        </form>
    </div>
    <!-- <script src="../script/logout.js"></script> -->
</body>
</html>
