<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>New-account</title>
    <link rel="icon" type="#" href="../pic/facebookIcon.png">
<link rel="stylesheet" href="../style/style.css">

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
</head>
<body class="new-acc_body">
    
    

<div class="#">
    <p class="new-acc_layout">
        Facebook
    </p>

    <div class="new-acc_block">
        <div class="new-acc_header">
<div id="signup_Xbutton" ><a href="/"> x </a></div>

        <p class="new-acc_bold">
            Sign Up 
        </p>
        <i class="bi bi-x-lg"></i>
        <p>
            It's quick and easy.
        </p>
    </div>
    <hr class="new-acc_hrzline">
    <input type="text" name="firstName" class="new-acc_firstName" id="new-acc_firstName" placeholder="First name" required>
    <input type="text" name="lastName" class="new-acc_lastName" id="new-acc_lastName" placeholder="Last name" required>
    <input type="email" name="email" id="new-acc_gmailInput" class="new-acc_gmailInput" placeholder="Mobile number or email" required>
    <input type="password" name="password" id="new-acc_passwordInput" class="new-acc_passwordInput" placeholder="New password" required>

    <div class="new-acc_bdInput">
    <p class="new-acc_birthday">
        Birthday :
    </p>
   <input type="date" name="DOB" class="createacc-DOB">
    
    <!-- <select  id="new-acc_bdyMonth" class="new-acc_bdy">
        <option value="january">january</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
    </select>
    <select  id="new-acc_bdydate" class="new-acc_bdy">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
    </select>
    <select  id="new-acc_bdyyear" class="new-acc_bdy">
        <option value="2023">2023</option>
        <option value="2024">2022</option>
        <option value="2025">2021</option>
        <option value="2026">2020</option>
        <option value="2027">2019</option>
        <option value="2028">2018</option>
        <option value="2029">2017</option>
        <option value="2030">2016</option>
        <option value="2031">2015</option>
        <option value="2032">2014</option>
        <option value="2032">2013</option>
        <option value="2032">2012</option>
        <option value="2032">2011</option>
        <option value="2032">2010</option>
        <option value="2032">2009</option>
    </select> -->

    <div class="new-acc_genderBlock">
        <p class="new-acc_gender">
            Gender ?
        </p>
         <div class="new-acc_genderRadio">
      <a class="Female" >Female</a><input type="radio" name="gender" id="gender">
       </div>
         <div class="new-acc_genderRadio">
<a class="Male">Male</a><input type="radio" name="gender" id="gender">
                </div>
         <div class="new-acc_genderRadio">
        <a class="Custom">Custom</a><input type="radio" name="gender" id="gender">
         </div>



    </div>

    <div class="new-acc_footer">
        <p>
            People who use our service may have uploated your contact information to Facebook. 
        </p>
        <p>
            By clicking Sigh Up, you agree to our terms, Privacy Police and Cookies Policy You may receive SMS Notification from us and can opt out any time .
        </p>
        
    
    </div>
    <div class="new-acc_signupButton">
        <button id="new-acc_signupButton">
            <p>
                Sign Up 
            </p>

      </button>
    </div>
        

    </div>
    </div>

</div>
</body>
</html>